/clases/ConceptosBasicos/nbproject/private/
diagramaBD.img
/clases/TareaLibro/nbproject/private/
/tareas/TareaLibro/nbproject/private/
/tareas/TareaLibro/build/
/clases/ConceptosBasicos/build/
/tareas/ReutilizacionCodigo2209/nbproject/private/
/clases/ReutilizacionCodigo2209/build/
/tareas/Composicion/nbproject/private/
/tareas/Composicion/build/
